body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f2f2f2;
}

/* HEADER */
.header {
  background: #fc8019;
  padding: 15px 30px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.logo {
  cursor: pointer;
}

/* CONTAINER */
.container {
  padding: 30px;
}

.page-title {
  margin-bottom: 25px;
}

/* RESTAURANTS */
.restaurant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

.restaurant-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: transform 0.2s;
}

.restaurant-card:hover {
  transform: scale(1.03);
}

.restaurant-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.restaurant-info {
  padding: 15px;
}

.restaurant-info p {
  color: gray;
  margin: 5px 0;
}

/* MENU */
.menu-card {
  background: white;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-card button {
  background: #fc8019;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* FIXED ORDER BUTTON */
.fixed-order {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 15px;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
}

.fixed-order button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #fc8019;
  color: white;
  border: none;
  border-radius: 8px;
}

/* LOGIN */
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.center input {
  padding: 12px;
  width: 240px;
  margin-bottom: 12px;
}
/* LOGIN PAGE */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #fc8019, #ff9f45);
}

.login-card {
  background: white;
  padding: 40px;
  width: 320px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  text-align: center;
}

.login-card h1 {
  margin-bottom: 10px;
}

.login-card p {
  color: gray;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.login-card button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #fc8019;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
